.headers {
  font-size: large;
}

.back-color {
  background-color: aqua;
}

 .box-Max-Temp-Comp{
  position: relative;
  top: 25%;
  left: 5%;
}

.box-Humidity-Comp{
  position: relative;
  bottom: -6%;
  left: 5%;
}

.box-Cloudiness-Comp{
  position: relative;
  top: 500;
  right: -60%;
}

.box-Winds-Comp{
  position: relative;
  bottom: 50%;
  right: -60%;
}

.image-size-Comp{
  width: 75%;
}

.image-size-rpt{
  width: 75%;
  float: left;
  padding: 10px;
}

.image-size-rpt2{
  width: 100%;
  padding: 5px;
}


 .row::after {
  content: "";
  clear: both;
  display: table;
}

.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 500px 500px;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 0;
  font-size: 15px;
}

.landing-grid-container {
  display: grid;
  float: left;
  justify-content: space-evenly;
  grid-template-columns: 150px 200px;
  grid-gap: 100px 100px;
  padding: 20px;
  border: 2px solid black;
  height: 200px; */
  width: 50%;
}

.landing-grid-container > div {
  background-color: rgba(255, 255);
  text-align: left;
  padding: 15px 5px;
  font-size: 0px;
}

.landing-grid-container2 {
  display: grid;
  float: left;
  grid-template-columns: 150px 150px;
  grid-gap: 10px 10px;
  padding: 15px 15px;
  border: 2px solid black;
}

.landing-grid-container2 > div {
  text-align: right;
  padding: 5px 5px;
  font-size: 15px;
}

.container {
  position: center;
  width: 70%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}